@{
    ViewBag.Title = "About";
}
<div class="landing landingabout">
</div>
<div class="container">
    <h1><strong>About Me</strong></h1>
    <hr />
    <div>
        <img src="~/Content/Image/SQPHOTO-32.jpg" alt="Profile Picture" class=" col-xs-12 col-sm-4" id="aboutprofilepic"/>
    </div>
    <div>
        <p class="col-xs-12 col-sm-8">
            Bacon ipsum dolor amet shank kielbasa corned beef turkey jerky tenderloin filet mignon capicola cow spare ribs. Cupim t-bone tenderloin, tail salami strip steak burgdoggen short ribs drumstick ham ribeye pork tongue capicola shank. Bacon shankle tenderloin short loin. Meatloaf shankle turkey, tail capicola salami prosciutto swine pancetta. Landjaeger pig tail prosciutto cupim frankfurter ham flank beef. Tongue meatball biltong beef ground round short ribs.
        </p>

        <p class="col-xs-12 col-sm-8">Ham hock leberkas cow kielbasa. Bacon prosciutto shoulder kevin, brisket tenderloin burgdoggen boudin doner meatloaf ham short loin pork loin. Ham hock tail t-bone beef ribs, fatback shoulder capicola drumstick shankle brisket frankfurter. Short loin tongue flank picanha short ribs landjaeger strip steak. Picanha prosciutto turducken boudin burgdoggen pancetta landjaeger strip steak beef shoulder pork belly jowl frankfurter pork. Shoulder venison ribeye meatball. Brisket shankle ground round pork belly, hamburger fatback beef ribs spare ribs cow chuck pork loin turkey picanha.</p>
    </div>
</div>
