@{
    ViewBag.Title = "About";
}
<div class="landing landingabout">
</div>
<div class="container">
    <h1><strong>About Me</strong></h1>
    <hr />
    <div>
        <img src="~/Content/Image/SQPHOTO.jpg" alt="Profile Picture" class=" col-xs-12 col-sm-4" id="aboutprofilepic" />
    </div>
    <div>
        <div class="col-xs-12 col-sm-8">
            <p>LDS CHURCH SERVICE, Italy September 2014-March 2016</p>
            <ul>
                <li>Full-time volunteer, including a free weekly English course</li>
                <li>Constant interaction and teaching of individuals from widely diverse global and socioeconomic backgrounds</li>
                <li>Served 8 months in leadership positions, training and coordinating new individuals</li>
            </ul>
            <hr />
        </div>
        <div class="col-xs-12 col-sm-8">
            <p>STUDY ABROAD, Spain April- June 2017</p>
            <ul>
                <li>Gained crucial speaking skills through immersive experience</li>
                <li>Integrated with native host family and attended classes at local university</li>
            </ul>
            <hr />
        </div>
        <div class="col-xs-12 col-sm-8">
            <p>Leadership:</p>
            <ul>
                <li>Service leader (July 2015-March 2016), President of local religious women’s organization (August 2016-April 2017)</li>
            </ul>
            <hr />
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-8" id="underpicabout">
            <p>Languages</p>
            <ul>
                <li>English (native)</li>
                <li>Spanish (speaking, reading and writing)</li>
                <li>Italian (speaking)</li>
            </ul>
            <hr />
        </div>
    </div>
</div>
