@{
    ViewBag.Title = "Home";
}

<div class="landing" id="landingindex">
    <div id="title">
        <h2>Brianne Kingery</h2>
        <h4>kingery.brie@gmail.com</h4>
        <h4>Brigham Young University</h4>
        <h4>Molecular Biology</h4>
    </div>
</div>
<div>
    <div class="container">
        <h1><strong>My Experience</strong></h1>
        <hr />
        <div class="row">
            <h3 class="col-sm-4 col-xs-12">Cancer Research Lab</h3>
        </div>
        <div class="row experienceblock">
            <img src="https://cancerresearch.byu.edu/wp-content/uploads/2015/10/life-science-building.jpg" class="col-sm-4 col-xs-12 experienceimg" />
            <p class="col-sm-8 col-xs-12">
                The BYU Simmons Center for Cancer Research is an organization composed of distinguished professors
                in the fields of Chemical Engineering; Chemistry and Biochemistry; Health Sciences; Integrative Biology;
                Microbiology and Molecular Biology; Nutrition, Dietetics and Food Science; Physiology and Developmental Biology;
                and Statistics. These professors are some of the best noted and productive researchers in their respective departments.
                Every year the SCCR funds numerous cancer research fellowships, allowing students a chance to work with these prestigious
                researchers to study cancer and its mechanisms. These professors and students are driven to make a significant
                contribution to the discovery of a cure for cancer.
            </p>
            <p class="col-md-8 col-xs-12">
                Since 1997, when the fellowship program was initiated, more than 200 undergraduate and graduate students have been funded 
                for full-time cancer research over a semester.  Their research has resulted in more than 140 publications with more to come.  
                More importantly, the SCCR fellowship program has been a platform for many students into lifelong careers of oncology research 
                as well as clinical practice.  The Simmons Center for Cancer Research is proud to fund many of Brigham Young University’s 
                brightest student researchers in cancer research.
            </p>
        </div>
        <hr />
        <div class="row">
            <h3 class="col-lg-4 col-xs-12">Crisis Text Line</h3>
        </div>
        <div class="row experienceblock">
            <p class="col-sm-8 col-xs-12" style="padding-top: 20px;">Crisis Text Line was born “from the rib” of DoSomething.org, the largest organization for young people and social change. 
            Dozens of DoSomething.org members were texting in to ask for personal help and CEO Nancy Lublin came up with the idea for Crisis 
            Text Line and quietly launched in August 2013.</p>
            <img src="~/Content/Image/Crisis_Text_Line_logo.png" class="col-sm-4 col-xs-12 experienceimg"/>
        </div>
        <hr />
    </div>
</div>